body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header, .first, .second, .third, .fourth, footer {
    display: flex;
    flex: 1 1 auto;
    padding: 0 10%;
}

header, .first, footer {
    background-color: #1f2937;
}
header {
    justify-content: space-between;
    color: #f9faf8;
    align-items: center;
    height: 0;
}

header h3 {
    font-size: 24px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.first {
    align-items: center;
    gap: 30%;
}

.left h1 {
    font-size: 48px;
    font-weight: 1000;
}

.right img {
    width: 200px;
    height: auto;
}

.left {
    flex: 0 1 35%;
    color: #f9faf8;
}

.right {
    display: flex;
    justify-content: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    font-weight: 900;
    padding: 4px 10px;
    border: none;
}

.boxes img {
    width: 50px;
    height: auto;
    border: 3px solid #3882f6;
    border-radius: 4px;
}

.second {
    flex-direction: column;
    padding: 0 20%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.second .info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.box {
    flex: 0 1 20%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box p {
    text-align: center;
}

.third {
    background-color: #e5e7eb;
    flex: 0 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1em 20%;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    align-self: center;
}

.quoter {
    align-self: flex-end;
    margin-top: -1em;
    margin-right: -1em;
    font-weight: 700;
}

p {
    margin: 0;
}