body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1f2937;
    margin: 0 30px;
    padding: 0 150px;
}

header, .first, .second, .third, footer {
    display: flex;
    flex: 1 0 auto;
}

header {
    justify-content: space-between;
    color: #f9faf8;
    align-items: center;
    height: 0;
}

header h3 {
    font-size: 24px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.first {
    align-items: center;
    gap: 30%;
}

.left h1 {
    font-size: 48px;
    font-weight: 1000;
}

img {
    width: 300px;
    height: auto;
}

.left {
    flex: 0 1 35%;
    color: #f9faf8;
}

.right {
    display: flex;
    justify-content: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    font-weight: 900;
    padding: 4px 10px;
    border: none;
}